/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenProLight-300.otf');
}
body{
     font-family: "Maven Pro" !important;
    font-weight: 300;
    overflow-x: hidden !important;
    /*-webkit-overflow-scrolling: touch;*/
    -webkit-font-smoothing: antialiased;
}
div span{
     font-family: "Maven Pro" !important;
}
@media(min-width:768px) {
    #wrapper {
        padding-right: 250px;
        
    }

    #wrapper.toggled {
        padding-right: 0;
       
    }

    #sidebar-wrapper {
        width: 270px;
         overflow-x: hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/*small window css*/
#wrapper {
    padding-right: 350px;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {                      /*side bar closed css*/
    padding-right: 0;
    
}
#sidebarcontainer{                                   /*container fluid*/
    padding-right:0px;
    padding-left:   0px;
    margin-bottom: 40px;
}
#sidebar-wrapper {                                  /*main side bar styles*/
    z-index: 1000;
    position: fixed;
    top:0;
    right: 270px;
    width: 370px;
    height: 100%;
    margin-right: -270px;
    overflow-y: scroll;
    background-color: #336699;
      /*background-color: rgba(6,56,120,0.5);*/
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
    
     box-shadow:0px 10px 15px 2px #888888;
    overflow-x: hidden;
}
#wrapper.toggled #sidebar-wrapper {                  /* close side bar width that keep it hide*/
    width: 0;
   
}

#page-content-wrapper {                         /*side bar closed page wrapper css*/
    width: 100%;
    position: relative;
    padding: 20px;
  
}


#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
   
}
/*hamburger button*/
.hamburger {
  position: relative;
  top: 10px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
  left:80%;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
   -moz-transform: translate3d(0,0,0);
  -moz-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
    -moz-transform: translate3d(-100px,0,0);
  -moz-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,     /*first bootom line*/
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {        /*second bottom line*/
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {     /*Third bottom line merge with second*/
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {         /*final bottom line that seperate after merge with middle one*/
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
   -moz-transform: rotate(45deg);
  -moz-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
   -moz-transform: rotate(-45deg);
  -moz-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
    -moz-transform: translate3d(0,0,0);
  -moz-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
   -moz-transform: translate3d(-100px,0,0);
  -moz-transition: all .35s ease-in-out;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(250,250,250,.8);*/
    z-index: 1;
}




#inputplaceholder::-webkit-input-placeholder{          /*change placeholder color chrome*/

    color:#000;
}
#inputplaceholder:-moz-placeholder {                 /* Mozilla Firefox 4 to 18 */
   color:#000;
}
#inputplaceholder::-moz-placeholder {                    /* Mozilla Firefox 19+ */
   color:#000;
}
#inputplaceholder:-ms-input-placeholder {               /* Internet Explorer 10-11 */
    color:#000;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 360px;
    margin: 0;
    padding: 0;
    list-style: none;
    color:#fff;
}
.sidebar-nav > .sidebar-brand {                    /*text payevo helpbar*/
                                                     
    height: 30px;
    font-size: 14px;
    /*line-height: 30px*/;
    /*background-color:#003145;
    box-shadow: 0 0 2px 0 #000;*/
}
.sidebar-brand{
       text-align:center;  
       
}
/*.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
    .sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


/*#top:hover,

#top3.open:hover
{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}*/


#top3 {                                                                 /*top 3 question bar*/
		
        /*border-bottom:1px solid #000;
        color:#fff;
        margin-top:0px;
       text-align:center;
       border-radius:0;*/
		/*box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;*/
        
	}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
#helpsection{
    -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
}
#asksection{
    -webkit-animation-delay: 1.71s;
      -moz-animation-delay: 1.71s;
}
#searchsection{
    -webkit-animation-delay: 1.8s;
      -moz-animation-delay: 1.8s;
    margin-top:10px;
}

#top3:before{
 background-color: #279636;
}
#helpsection:before{
  /*background-color: #ec1b5a;
 background-color: #79aefe;*/
   background-color: #279636;
}
#asksection:before{

 /* border:1px solid green;
  background-color: #79aefe;*/

}

.btn-primary:hover:before,.btn-danger:hover:before{
    width: 100%;
   
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}
 .btn-primary:before{
      content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    /*background-color: green;*/
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;
     
 }
 h5{
     text-align:center;

 }
 /*underline bar*/
 .bar  { position:relative; display:block; width:250px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
h4:focus ~ .bar:before, h4:focus ~ .bar:after {
  width:50%;
}
button#top3 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-radius: 0;
}
/*.btn-primary:hover{
      background-color: green;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

 }*/
button#top3,button#asksection,button#helpsection{
    width:100%;
     margin-top:10px;
       text-align:center;
       border-radius:0;
         
}

#top3 h2{
    margin-bottom:0;
}

.col-xs-12{
    padding:5px;
    border-radius: 3px;
    color: #337ab7;
    line-height: 2;
    width: 340px;
    padding: 5px;
    background-color:white;
    word-wrap: break-word;
    margin-bottom:10px;
    margin-top: 10px; 
    left:3%;
    cursor:pointer;
}


/*.col-xs-11 {
    border-radius: 3px;
    color: #337ab7;
    line-height: 2;
    -webkit-animation-delay: 3s;
    background-color:white;
    word-wrap: break-word;
    left:2%;
    margin-top: 10px; 
    width: 240px;
    padding: 5px;
}*/

.floating-label-form-group input, .floating-label-form-group textarea{
    border-left:0px;
    border-bottom:0;
    color:#337ab7;
    border-radius:3px;
    background-color:#fff;
    font-size:1em;
    padding: 5px;
}
.floating-label-form-group:not(:first-child) {
    border: 0;
    padding-left: 20px;
    right:5%;
}
#inputplaceholder{
    background-color: #ebeef0; 
    width: 100%;
    border: 0;
    height: 44px;
    margin-top: 1.7px;
    border-radius: 3px;
    left:3%;
    font-size:large;
    
}

button#searchbutton {                           /*search button icon */
   /*position: fixed;*/
       left: 270px;
           /*top: 0;*/
}
.input-group-addon{
    padding:0;
    width:0;
}

small {
    margin-right: 10px;
    float: right;
    margin-top:3px;
}
#asktextarea{
     margin-top:10px;
      color: #337ab7;
      height:150px;
}
form{
        margin-left: 3%;
}
 /*.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}*/
 #t3{
         vertical-align: sub;
 }
 #showsearchresult1{
     
 }
.input-group-addon{
    border:0;
    background:transparent;
   vertical-align:inherit;
    color:#fff;
    /*position: relative;*/
}
.input-group-addon button {
  position: absolute;
  right: 0;
 background: transparent; 
    border: 0;
}
.input-group .form-control{
    display:-moz-box;
}

/*.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.embed-responsive {
    position: initial;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
